* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  width: 100%;
  padding: 1.5rem 3rem;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .hero-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
main .hero-text img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .hero-text .text {
  display: flex;
  justify-content: space-between;
  font-family: monospace;
}
main .hero-text .text p {
  text-transform: uppercase;
}
main .image-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
main .image-text .top {
  width: 100%;
  aspect-ratio: 1/1;
}
main .image-text .top img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .image-text .bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
main .image-text .bottom h1 {
  font-size: 2.7em;
  font-weight: 200;
  text-transform: uppercase;
  line-height: 1;
}
main .image-text .bottom p {
  font-size: 1.4em;
  font-weight: 200;
  opacity: 0.8;
  font-family: monospace;
  line-height: 1.5;
}
main .image-text .bottom .services {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
main .image-text .bottom .services .service {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
main .image-text .bottom .services .service p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.7em;
  font-weight: 400;
  text-transform: uppercase;
}
main .vertical {
  width: 100%;
  display: flex;
  gap: 1em;
  flex-direction: column;
}
main .vertical .top {
  width: 100%;
  aspect-ratio: 1/1;
}
main .vertical .top img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .vertical .bottom {
  display: flex;
  gap: 1em;
}
main .vertical .bottom p {
  writing-mode: vertical-rl;
  padding-top: 0.7em;
}
main .vertical .bottom .text h1 {
  font-size: 2em;
  font-weight: 400;
  text-transform: uppercase;
}
main .vertical .bottom .text p {
  writing-mode: initial;
  line-height: 1.2em;
  font-family: monospace;
  font-size: 1.5em;
  opacity: 0.6;
}
main #services {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding-top: 2.5em;
}
main #services .top h1 {
  font-size: 2.7em;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1;
  padding-bottom: 0.8em;
}
main #services .top .row {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding: 0.8em;
}
main #services .top .row .head h3 {
  font-size: 1.7em;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1;
}
main #services .top .row .head p {
  font-size: 1.5em;
  font-weight: 200;
  padding-top: 0.5em;
  opacity: 0.8;
  font-family: monospace;
  line-height: 1.2;
}
main #services .top .row .logo {
  display: flex;
}
main #services .top .row .logo p {
  padding-left: 1.2em;
  font-size: 1.2em;
  font-weight: 300;
  font-family: monospace;
}
main #services .bottom {
  width: 100%;
  aspect-ratio: 1/1;
}
main #services .bottom img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .work {
  padding-top: 2em;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.7em;
}
main .work h1 {
  text-transform: uppercase;
  font-size: 2.7em;
  letter-spacing: 0.05em;
  font-weight: 300;
}
main .work .top {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
main .work .top .img {
  width: 100%;
}
main .work .top .img .image {
  width: 100%;
  aspect-ratio: 1/1;
}
main .work .top .img .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .work .top .img .image1 {
  width: 100%;
  aspect-ratio: 1/1;
  display: none;
}
main .work .top .img .image1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .work .top .row {
  display: flex;
  flex-direction: column;
  gap: 1.7em;
}
main .work .top .row .head h3 {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 400;
}
main .work .top .row .head p {
  font-family: monospace;
  font-size: 1.5em;
  opacity: 0.8;
}
main .work .top .row .logo {
  display: flex;
  gap: 1em;
}
main .work .bottom {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
main .work .bottom .img {
  width: 100%;
}
main .work .bottom .img .image {
  width: 100%;
  aspect-ratio: 1/1;
}
main .work .bottom .img .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .work .bottom .img .image1 {
  width: 100%;
  aspect-ratio: 1/1;
  display: none;
}
main .work .bottom .img .image1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .work .bottom .row {
  display: flex;
  flex-direction: column;
  gap: 1.7em;
}
main .work .bottom .row .head h3 {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 400;
}
main .work .bottom .row .head p {
  font-family: monospace;
  font-size: 1.5em;
  opacity: 0.8;
}
main .work .bottom .row .logo {
  display: flex;
  gap: 1em;
}
main .clients {
  width: 100%;
  display: flex;
  flex-direction: column;
}
main .clients h1 {
  font-size: 5.2em;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}
main .clients .content .loc {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  padding-bottom: 1.5em;
}
main .clients .content .loc h3 {
  font-size: 1.5em;
  font-weight: 400;
  text-transform: uppercase;
}
main .clients .content .loc p {
  font-weight: 300;
  opacity: 0.8;
  font-family: monospace;
}
main .team {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}
main .team .info h1 {
  font-size: 2.7em;
  text-transform: uppercase;
  font-weight: 400;
}
main .team .info p {
  font-size: 1.5em;
  font-weight: 200;
  opacity: 0.6;
  font-family: monospace;
}
main .team p {
  font-size: 1.5em;
  font-weight: 200;
  opacity: 0.6;
  font-family: monospace;
}
main .team .part1 {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
main .team .part1 .card {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
main .team .part1 .card h2 {
  font-size: 1.7em;
  font-weight: 400;
  text-transform: uppercase;
}
main .team .part1 .card .image {
  width: 100%;
  aspect-ratio: 1/1;
}
main .team .part1 .card .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .team .part1 .card .about p {
  opacity: 0.8;
}
main .join {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}
main .join .all {
  width: 100%;
}
main .join .all h2 {
  font-weight: 400;
  font-size: 1.5em;
}
main .join .all p {
  font-family: monospace;
}
main .join .all .add {
  display: flex;
  gap: 0.5em;
}
main .join .all .add p {
  font-size: 1.2em;
}

.branding {
  width: 100%;
  padding-top: 3em;
  background-color: #111111;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 1.2em;
}
.branding h1 {
  font-size: 4em;
  font-weight: 300;
}
.branding h2 {
  font-size: 3em;
  font-weight: 300;
  text-align: center;
}
.branding button {
  width: 40%;
  border-radius: 1.5em;
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3em;
}
.branding hr {
  color: white;
  width: 100%;
  margin-bottom: 2em;
}

@media (min-width: 900px) {
  main {
    padding: 4rem;
    gap: 4em;
  }
  main .image-text {
    flex-direction: row-reverse;
    gap: 4em;
  }
  main .image-text .bottom {
    width: 80%;
  }
  main .image-text .bottom h1 {
    font-size: 5em;
    letter-spacing: 0.05em;
  }
  main .image-text .bottom p {
    font-size: 2em;
  }
  main .image-text .bottom .services {
    margin-top: auto;
  }
  main .image-text .bottom .services .service p {
    font-size: 2em;
  }
  main .vertical {
    flex-direction: row;
    gap: 4em;
  }
  main .vertical .top {
    width: 30%;
  }
  main .vertical .bottom {
    width: 70%;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  main .vertical .bottom .text {
    display: flex;
    flex-direction: column;
  }
  main .vertical .bottom .text h1 {
    font-size: 4.7em;
  }
  main .vertical .bottom .text p {
    margin-top: auto;
  }
  main #services {
    flex-direction: row;
    padding-top: 0;
  }
  main #services .top {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  main #services .top hr {
    display: none;
  }
  main #services .top h1 {
    font-size: 6em;
    width: 70%;
  }
  main #services .top .service {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
  main #services .top .first {
    display: flex;
    gap: 2em;
  }
  main #services .top .second {
    display: flex;
    gap: 2em;
  }
  main #services .bottom {
    width: 50%;
  }
  main .work {
    gap: 2em;
  }
  main .work h1 {
    font-size: 10em;
    font-weight: 400;
    text-align: center;
  }
  main .work .top {
    flex-direction: row;
  }
  main .work .top .img {
    width: 60%;
    display: flex;
    gap: 2em;
  }
  main .work .top .img .image1 {
    display: block;
  }
  main .work .top .row {
    width: 40%;
    padding: 3em;
    justify-content: space-between;
  }
  main .work .top .row .head h3 {
    font-size: 4em;
  }
  main .work .top .row .head p {
    font-size: 1.4em;
  }
  main .work .bottom {
    flex-direction: row;
  }
  main .work .bottom .img {
    width: 60%;
    display: flex;
    gap: 2em;
    order: 2;
  }
  main .work .bottom .img .image1 {
    display: block;
  }
  main .work .bottom .row {
    width: 40%;
    padding: 3em;
    justify-content: space-between;
    order: 1;
  }
  main .work .bottom .row .head h3 {
    font-size: 4em;
  }
  main .work .bottom .row .head p {
    font-size: 1.4em;
  }
  main .clients {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  main .clients .content {
    width: 50%;
  }
  main .clients h1 {
    text-align: end;
  }
  main .team {
    gap: 3em;
  }
  main .team .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  main .team .info h1 {
    font-size: 4em;
  }
  main .team .info p {
    width: 60%;
  }
  main .team .part1 {
    flex-direction: row;
    gap: 3em;
  }
  main .join {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1.5em;
  }
  main .join .all {
    width: 50%;
  }
  main .join .all h2 {
    font-size: 4em;
    width: 70%;
  }
  .branding {
    gap: 3em;
  }
  .branding button {
    width: 15%;
    font-family: monospace;
    font-size: 1.5em;
    opacity: 0.8;
  }
  .branding h1 {
    font-size: 14em;
    font-weight: 400;
  }
  .branding h2 {
    text-transform: uppercase;
    font-size: 5em;
    font-weight: 400;
    letter-spacing: 1;
  }
}/*# sourceMappingURL=style.css.map */